.creed .char-body {
    background: linear-gradient(#283593, #1a237e);
}

.creed .char-coat {
    top: 85px; left: 25px;
    width: 110px; height: 130px;
    background: linear-gradient(#3f51b5, #1a237e);
    border-radius: 35px;
}

.creed .char-beard {
    top: 52px; left: 52px;
    width: 56px; height: 34px;
    background: #4e342e;
    border-radius: 0 0 30px 30px;
}
