.nova .char-body {
    background: linear-gradient(#512da8, #311b92);
}

.nova .char-lab-coat {
    top: 90px; left: 20px;
    width: 120px; height: 120px;
    background: linear-gradient(#fafafa, #e0e0e0);
    border-radius: 35px;
}

.nova .char-hair {
    top: -10px; left: 25px;
    width: 110px; height: 60px;
    background: radial-gradient(circle, #ffffff, #b39ddb);
    border-radius: 50%;
}
